@{
    ViewData["Title"] = "Apply For Job";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome Dear Applicant</b>
    </h1>

    <h4></br>Sign Up or Login to Apply for Job</h4>
    @* <p>Sign Up <a href="https://learn.microsoft.com/aspnet/core"></a>.</p> *@

    <ul class="nav">
        <li class="nav-item">
            <a asp-controller="Auth" asp-action="Login" class="nav-link link-body-emphasis px-2">
                <button type="submit" class="nav-link link-body-emphasis px-2" asp-controller="Auth" asp-action="Login">Login</button>
            </a>
        </li>
        
        <li class="nav-item">
            <a asp-controller="Auth" asp-action="Register" class="nav-link link-body-emphasis px-2">
                <button type="submit" class="nav-link link-body-emphasis px-2" asp-controller="Auth" asp-action="Register">Sign Up</button>
            </a>
        </li>
    </ul>

    @* <ul class="nav">
        <li class="nav-item">
            <button type="submit" class="nav-link link-body-emphasis px-2" asp-controller="Auth" asp-action="Login">Login</button>
        </li>
        <li class="nav-item">
            <button type="submit" class="nav-link link-body-emphasis px-2" asp-controller="Auth" asp-action="Register">Sign Up</button>
        </li>
    </ul> *@
</div>
